/* You can add global styles to this file, and also import other style files */


button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #212121;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.75vh;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  transform: scale(0.9);
}
