<div style="height: 100vh; display: flex;
align-items: center;
justify-content: space-between;">

  <div style="background-color: black;
              width: 70vh;
              height: auto;
              margin: auto;
              border: solid;
              border-color: white;">

    <p style="margin-left: 2vh;">Authentication:</p>
    <hr>
    <form [formGroup]="authenticationForm" (ngSubmit)="onSubmit()">
      <div style="display: flex; flex-direction: column; align-items: center; margin: auto;">
        <input type="text" id="username" formControlName="username" placeholder="Enter your username" required style="height: 3vh; width: 30vh;">
        <input type="password" id="password" formControlName="password" placeholder="Enter your password" required style="height: 3vh; width: 30vh; margin: 2vh;">
        <button style="width: 20vh; height: 5vh; margin: 2vh; background-color: antiquewhite; color: black;"> LOGIN </button>
      </div>
    </form>

  </div>
</div>


