<div style="background-color:rgb(46, 52, 116);
            color: white;
            font-weight: bold;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
            ;">

  <div style="background-color: black;
              width: 70vh;
              height: auto;
              margin: auto;
              border: solid;
              border-color: white">

    <p style="margin-left: 2vh;">Authentication:</p>
    <hr style="margin: 2vh;">
    <div style="display: flex; flex-direction: column; align-items: center; margin: auto;">
      <input placeholder="User Name" style="height: 3vh; width: 30vh;">
      <input type="password" placeholder="Password" style="height: 3vh; width: 30vh; margin: 2vh;">
      <button style="width: 20vh; height: 5vh; margin: 2vh;"> LOGIN </button>
    </div>
  </div>
</div>
